@import "config";
@import "menu";

// Body
body {
  background: $primary-color;
  font-family: "Lato", Cambria, Calibri, serif;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  text-align: center;

  &.lg-heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Lato", "Roboto", Helvetica, "Franklin Gothic Medium",
      "Arial Narrow", Arial, sans-serif;
    border: 2px solid $secondary-color;
    padding-top: 2rem;
    background: $secondary-color;
  }

  &.md-heading {
    padding: 2rem 0;
    background: $secondary-color;
  }

  &.sm-heading {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-family: "Playfair Display", "Lato", Cambria, Calibri, serif;
    background: $secondary-color;
  }

  &.xs-heading {
    margin-top: 3rem;
    padding-top: 1rem;
  }
}

// Main
main {
  min-height: calc(100vh - 200px); // to make footer remain at bottom
  text-align: center;
}

// Icons
.icons {
  align-items: center;
  a {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
      @include easeOut();
    }
  }
}

// Button
.btn {
  display: inline-block;
  width: 100px;
  height: 25px;
  text-align: center;
  border: 2px solid $third-color;
  padding: 1rem;
  margin: 2rem;
  text-decoration: none;
  color: $third-color;
  font-weight: bold;

  &:hover {
    color: $primary-color;
    background: $secondary-color;
    border: none;
  }
}

// About Page Image
#about {
  .about-info {
    display: grid;
    grid-template-areas:
      "bio-image bio bio"
      "bio-image quick-facts quick-facts";
    .bio-image {
      margin-top: 1rem;
      width: 200px;
      height: auto;
      border: 5px solid $third-color;
    }
    .bio {
      border-top: 2px dashed $third-color;
      border-bottom: 2px dashed $third-color;
      margin-left: 1rem;
      padding: 1rem;
      text-align: left;
    }
  }
}

.quick-facts {
  background-color: $secondary-color;
  padding-bottom: 1rem;
  .facts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "rundown interests like";
    ul {
      list-style: none;
      text-align: left;
    }
  }
  .fact {
    margin: 0.5rem;
  }
}

.fact {
  background-color: $primary-color;
}

// Footer
#main-footer {
  background-color: $third-color;
  color: $primary-color;
  text-align: center;
  padding: 1rem;
  height: 200px;
}
