@import "config";
@import "menu";

// Body
body {
  background: $primary-color;
  font-family: "Lato", Cambria, Calibri, serif;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  text-align: center;

  &.lg-heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Lato", "Roboto", Helvetica, "Franklin Gothic Medium",
      "Arial Narrow", Arial, sans-serif;
    border: 2px solid $secondary-color;
    padding-top: 2rem;
    background: $secondary-color;
  }

  &.md-heading {
    padding: 2rem 0;
    background: $secondary-color;
  }

  &.sm-heading {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-family: "Playfair Display", "Lato", Cambria, Calibri, serif;
    background: $secondary-color;
  }

  &.xs-heading {
    margin-top: 3rem;
    padding-top: 1rem;
  }
}

// Main
main {
  min-height: calc(100vh - 240px); // to make footer remain at bottom
  text-align: center;
}

// Icons (LinkedIn)
.icons {
  align-items: center;
  a {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
      @include easeOut;
    }
  }
}

// Home Page About Me Button
.btn {
  display: inline-block;
  width: 100px;
  height: 25px;
  text-align: center;
  border: 2px solid $third-color;
  padding: 1rem;
  margin: 2rem;
  text-decoration: none;
  color: $third-color;
  font-weight: bold;

  &:hover {
    color: $primary-color;
    background: $secondary-color;
    border: none;
    @include easeOut;
  }
}

// About Page
#about {
  .about-info {
    display: grid;
    grid-template-areas:
      "bio-image bio bio"
      "bio-image quick-facts quick-facts";
    .bio-image {
      margin-top: 1rem;
      width: 230px;
      height: auto;
      border: 3px solid $third-color;
    }
    .bio {
      border-top: 2px dashed $third-color;
      border-bottom: 2px dashed $third-color;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: left;
    }
  }

  .highlight-text {
    text-decoration: none;
    &:hover {
      color: $third-color;
    }
  }
}

.quick-facts {
  background-color: $secondary-color;
  padding-bottom: 1rem;
  .facts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "rundown interests like";

    .fact {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: $primary-color;

      ul {
        list-style: none;
        text-align: left;

        li {
          margin-bottom: 0.5rem;

          .highlight-text {
            text-decoration: none;
          }
        }
      }

      // for emphasis on the word blue in the things I like box
      &.like {
        .highlight-text {
          color: darken($secondary-color, 35);
        }
      }
    }
  }
}

// Experience Page
.event {
  border-top: 2px solid $third-color;
  border-bottom: 2px solid $third-color;
  margin-top: 1rem;
  display: grid;
  grid-template-areas: "event-image event-info";

  h5 {
    margin: 0;
  }

  .event-image {
    margin-bottom: 1rem;

    img {
      margin-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .event-info {
    padding: 1rem;
    margin-left: 1rem;
    background-color: lighten($secondary-color, 8);
    text-align: left;

    h3 {
      text-decoration: underline;
    }

    .takeaways {
      padding: 1rem;
      background-color: $primary-color;
      text-align: center;
    }
  }

  .centrify-image {
    height: 150px;
    width: auto;
  }

  .ssp-image {
    height: 150px;
    width: auto;
  }

  .cosmos-image {
    height: 96px;
    width: auto;
  }

  .epic-image {
    height: 150px;
    width: auto;
  }
}

// Technical Projects Page
.technical-projects {
  margin-top: 1rem;
  padding: 1rem;
  background: lighten($third-color, 20);

  h2 {
    margin-bottom: 0.5rem;
  }

  h3 {
    padding-top: 1rem;
  }

  // Technical Slideshow Button Formatting
  button {
    width: 60px;
    height: 40px;
    background-color: $third-color;
    color: $primary-color;
    margin: 1rem 1rem;
    border: 0px;

    &.arrow-left {
      float: left;
    }

    &.arrow-right {
      float: right;
    }

    &:hover {
      cursor: pointer;
      border: 4px solid lighten($third-color, 20);
    }
  }

  // Slideshow Formatting for Technical Projects & Photography Pages
  // Somehow adding a div with class slide is how the responsive menu works
  .slide {
    background: $primary-color;
    h3 {
      margin-bottom: 0.1rem;
    }
    h5 {
      margin-bottom: 0.1rem;
    }

    .technical-info {
      border-top: 2px solid $secondary-color;
      padding: 1rem 1rem;
      text-align: left;
      .takeaways {
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        background-color: $primary-color;
        border: 2px solid $secondary-color;
        text-align: center;
      }
    }

    img {
      margin: 1rem;
    }

    .slide-img {
      height: 300px;
      width: auto;
    }
  }
}

// Design Page
.design-projects {
  margin-top: 1rem;
  padding: 1rem;
  background: lighten($third-color, 20);

  h2 {
    margin-bottom: 0.5rem;
  }

  h3 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .design-tile {
    background-color: $primary-color;
    padding-bottom: 1rem;
    margin: 1rem;

    .design-img {
      height: 300px;
      width: auto;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 1rem;
    }

    .design-info {
      padding: 1rem 1rem;
    }
  }
}

// Photography Page (hiding and showing photo info overlay based on hover)
// overlay effect
.photo-overlay {
  padding: 1rem;
  bottom: 2.5rem;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); // Black see-through
  color: #f1f1f1;
  width: calc(100vh-2rem);
  @include easeOut;
  opacity: 0;
  color: white;
  text-align: center;
}
// when you mouse over the slide photo, fade in the overlay (caption)
.slide:hover .photo-overlay {
  opacity: 1;
}

.photo-heading {
  visibility: hidden;
}

.photo-img {
  height: 400px;
  width: auto;
}

// Involvement Page
.involvement-facts {
  padding-bottom: 1rem;
  .facts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "classpres womenincs studycloud";
  }

  .fact {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border: 5px solid $secondary-color;

    .involvement-title {
      padding: 1rem;
      bottom: 2.5rem;
      background-color: $third-color; // Black see-through
      color: #f1f1f1;
      width: calc(100vh-2rem);
      @include easeOut;
      opacity: 1;
      color: white;
      text-align: center;

      h3 {
        padding-top: 1rem;
      }
    }

    .involvement-description {
      text-align: left;
      padding: 0 0.5rem;
    }
  }

  ul {
    list-style: none;
    line-height: 2rem;

    .lynbrookpara {
      margin-top: 0;
      line-height: 0rem;
      text-align: center;
    }
  }
}

// Contact Page
.contact-info {
  border: 2px dashed $third-color;
  padding: 1rem;
  margin: 1rem;

  h3 {
    margin: 0.5rem;
  }

  .highlight-text {
    color: darken($third-color, 12);
    text-decoration: none;
  }

  .contact-icons {
    a {
      color: darken($secondary-color, 10);
      &:hover {
        color: $third-color;
        @include easeOut;
      }
    }
  }
}
// Footer
#main-footer {
  background-color: $third-color;
  color: $primary-color;
  text-align: center;
  padding: 1rem;
  height: 240px;
}

@import "mobile";
